<div class="progress-container">
  <h1>進捗管理</h1>
  <h2>動画教材 視聴済み</h2>
  <p><%= "(#{@viewings} / #{@movies})" %></p>
  <div class="progress-graph">
    <div class="progress-graph progress-stripe-graph" style="width: <%= @percentage.round %>%;">
      <%= @percentage.round %>％
    </div>
  </div>
</div>
