@import "~bootstrap/scss/bootstrap";

.base-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

// "_flash.html.erb"で使用
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

body {
  padding-top: 56px;
}

.base-color {
  background-color: #5D99FF;
}

.navbar {
  font-size: 0.8rem;
  margin: 0 auto;
  width: var(--breakpoint-lg);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.dropdown-toggle {
  white-space: nowrap;
}

.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  display: flex !important;
  flex-basis: auto;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.collapse:not(.show) {
  display: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
