@import "~bootstrap/scss/bootstrap";

// feature/aws_text_indexにて変更
.base-container {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 1rem;
  padding: 120px 0 80px 0;
}

// "_flash.html.erb"で使用
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// ↓ログイン周りの設定
.login-container {
  max-width: 576px;
  margin: 0 auto;
  padding-top: 152px;
}
// ↑ログイン周りの設定

body {
  padding-top: 56px;
}

.base-color {
  background-color: #5D99FF;
}

.navbar {
  font-size: 0.8rem;
  margin: 0 auto;
  width: var(--breakpoint-lg);
}

.nav-link {
  display: block;
}

.dropdown-toggle {
  white-space: nowrap;
}

.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  display: flex !important;
  flex-basis: auto;
}

// AWSテキスト関連（タスク16で追加）
.w-1 {
  width: 10%;
}

.w-5 {
  width: 50%;
}

h2 {
  padding: 40px 0 10px 0;
  font-size: 3em;
}

p {
  font-size: 2.2em;
  line-height: 1.9em;
  margin-bottom: 1rem;
  padding-bottom: 15px;
}

.table-container {
  font-size: 1.5em;
  width: 710px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  h2 {
  font-size: 30px;
  padding: 20px 0 10px 0;
}

  p {
  font-size: 17px;
  line-height: 1.9em;
  width: 710px;
  margin: 0 auto;
  }

  .table-container {
    font-size: 17px;
  }
}
// AWS関連（タスク16で追加）ここまで


