@import "~bootstrap/scss/bootstrap";

.base-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

// "_flash.html.erb"で使用
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// ↓ログイン周りの設定
.login-container {
  max-width: 576px;
  margin: 0 auto;
  padding-top: 152px;
}
// ↑ログイン周りの設定

body {
  padding-top: 56px;
}

.base-color {
  background-color: #5D99FF;
}

.navbar {
  font-size: 0.8rem;
  margin: 0 auto;
  width: var(--breakpoint-lg);
}

.nav-link {
  display: block;
}

.dropdown-toggle {
  white-space: nowrap;
}

.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  display: flex !important;
  flex-basis: auto;
}
